<!-- Permitir la selección de múltiples archivos -->
<div class="border-[1px] border-gray-300 p-2 md:p-8 rounded-lg ">
    <div
        class="border-2 border-dashed rounded-lg p-8 text-center border-primary bg-primary/10 flex flex-col items-center justify-center">
        <span class="material-icons text-gray-400" style="font-size: 48px;">upload_file</span>

        <p className="mt-2 text-sm text-gray-600">
            Drag and drop files here, or
            <label className="text-primary hover:text-primary/80 cursor-pointer">
                browse

            </label>
        </p>
        <p className="text-xs text-gray-500 mt-1">
            Supported formats: TXT, DOC, DOCX, PDF, XLS, XLSX
        </p>
        <input type="file" class="file-input" (change)="onChange($event)" #fileUpload multiple
            accept=".txt,.docx,.pdf,.xlsx, .md, .xml, .json, .csv" />
    </div>
</div>

<div *ngIf="files.length > 0">
    <section class="file-info">
        <p>File details:</p>
        <ul>
            <li *ngFor="let file of files; let i = index" class="flex flex-row items-center space-x-6">
                <img [src]="getFileIcon(file.name)" alt="{{file.name}} icon" class="file-icon w-10" />
                <strong>{{file.name}}</strong>
            </li>
        </ul>
    </section>

    <button (click)="onUpload()">Upload All Files</button>

    <section [ngSwitch]="status">
        <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
        <p *ngSwitchCase="'success'">✅ All files uploaded!</p>
        <p *ngSwitchCase="'fail'">❌ Error uploading files!</p>
        <p *ngSwitchDefault>😶 Waiting to upload...</p>
    </section>
</div>